body {
  width: 100%;
  min-height: 100vh;
  background-color: #F3F3F3;
}

.corpo-pagina {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#limpar-saldo {
  margin-top: 0.5rem;
}